@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: AmaticSC-Bold;
    src: url(../fonts/AmaticSC-Bold.ttf);
}

@font-face {
    font-family: AmaticSC-Regular;
    src: url(../fonts/AmaticSC-Regular.ttf);
}

@font-face {
    font-family: Mali-Bold;
    src: url(../fonts/Mali-Bold.ttf);
}

@font-face {
    font-family: NotoSerif-Bold;
    src: url(../fonts/NotoSerif-Bold.ttf);
}

@font-face {
    font-family: NotoSerif-Regular;
    src: url(../fonts/NotoSerif-Regular.ttf);
}

body {
    font-family: Roboto-Regular;
}

.input-wrp {
    margin-bottom: 12px;
}

.input-wrp input {
    padding: 5px;
    border: none;
    font-family: Roboto-Thin;
    width: 100%;
    background: none;
}

.input-wrp label {
    font-weight: 100;
    font-family: Roboto-Bold;
}

.middle {
    text-align: center;
}

.blue {
    background: #041173;
}

.google {
    background: #2959b3;
}

.red {
    background: red;
}

.twitter {
    background: #4d93d0;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control-group {
    margin-bottom: 12px;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
}

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 13px;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #3ca4f7;
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

label {
    font-weight: 100;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 4px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}

.input-btn {
    width: 100%;
    border: none;
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
}

.user-reg-sec {
    background: url("../images/Two-dogs-on-a-walk.jpg");
    background-size: cover;
    font-family: Roboto-Regular;
    min-height: 100vh;
}

.user-reg-sec .reg-header {
    padding: 50px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.user-reg-sec .reg-header h1 {
    font-family: Mali-Bold;
    font-size: 50px;
}

.user-reg-sec h4 {
    color: #ffffff;
    font-family: NotoSerif-Regular;
}

.user-reg-sec h1 {
    font-family: NotoSerif-Regular;
}

.user-reg-sec .reg-container, .user-reg-sec .activate-wrp {
    background: #c7cbcec4;
    color: #ffffff;
}

.user-reg-sec .reg-container .social-sign, .user-reg-sec .activate-wrp .social-sign {
    padding: 30px;
    border-right: 1px solid #eee;
}

.user-reg-sec .reg-container .register-form, .user-reg-sec .activate-wrp .register-form, .user-reg-sec .reg-container .active-form, .user-reg-sec .activate-wrp .active-form {
    padding: 30px;
}

.user-reg-sec .register-form button, .user-reg-sec .active-form button {
    background: #007cff;
}

.user-reg-sec .register-form, .user-reg-sec .active-form {
    position: relative;
}

.user-reg-sec .register-form label, .user-reg-sec .active-form label {
    color: #ffffff;
}

.user-reg-sec .register-form input, .user-reg-sec .active-form input {
    border-bottom: 1px solid #e1e1e1;
    background: none;
    color: #ffffff;
}

.user-reg-sec .register-form input:focus, .user-reg-sec .active-form input:focus {
    transition: all 0.3s ease;
    border-bottom: 2px solid #007cff;
}

.user-reg-sec .register-form input:focus + label, .user-reg-sec .active-form input:focus + label {
    color: #007cff;
}

.activate-wrp {
    margin-top: 100px;
}

.login-back {
    background-size: cover;
    min-height: 100vh;
    padding: 0px;
}

.login-wrp {
    min-height: 100vh;
    padding-top: 90px;
}

.login-wrp .user-img {
    width: 150px;
    height: 150px;
}

.login-wrp input {
    border-bottom: 1px solid #a2a2a2;
    width: 70%;
}

.login-wrp button {
    width: 70%;
    background: #007cff;
}

.login-wrp .login-form {
    text-align: center;
}

.login-wrp .login-form img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.login-wrp .login-form input {
    position: relative;
}

.login-wrp .login-form i {
    position: absolute;
    left: 93px;
    color: #1975a2;
}

.login-wrp .login-form .my-checkbox {
    width: 5%;
}

.login-header h1 {
    font-family: NotoSerif-Regular;
    text-align: center;
    color: #7194c1;
    margin-bottom: 30px;
    text-transform: uppercase;
}

/*# sourceMappingURL=styles.css.map */
